.main-content .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.cambiarIdioma {
    background-color: var(--color2);
    border: 2px solid var(--color3);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.cambiarIdioma h1 {
    font-size: 24px;
    color: var(--color1);
    margin-bottom: 15px;
}

.opciones {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.opciones button {
    padding: 10px 20px;
    background-color: var(--color1);
    color: var(--color2);
    border: 2px solid var(--color3);
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.opciones button:hover {
    background-color: var(--color3);
    color: var(--color1);
    transform: translateY(-3px);
}

.opciones button:focus {
    outline: none;
    box-shadow: 0 0 5px var(--color5);
}