*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: var(--body-color);
    transition: background 0.3s;
}
header {
    position: sticky;
    top: 0;
    z-index: 100;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--nav-color);
    color: var(--letras);
    padding: 5px 5%;
}
.logo {
    width: 160px;
    margin-right: 45px;
}
.nav-left, .nav-right{
    display: flex;
    align-items: center;
}
.nav-right ul li {
    list-style: none;
    display: inline-block;
}
.nav-right ul li i {
    width: 28px;
    margin: 0 15px;
    color: var(--nav-iconos);
}
.nav-user-icon {
    margin-left: 30px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    border: 0.1px solid var(--circulo-perfil);
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-user-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}
.search-box {
    background-color: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    transform: border 0.3s;
}
.search-box img {
    width: 18px;
}
.search-box input {
    width: 100%;
    background-color: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}
.search-box:focus-within{
    border: 0.1rem solid #B0FE76;
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
    flex-wrap: wrap;
}
.left-sidebar {
    display: flex;
    flex-direction: column;
    height: 90vh;
    flex-basis: 25%;
    position: sticky;
    top: 0;
    align-self: flex-start;

}
.right-sidebar {
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    background-color: var(--bg-color);
    padding: 20px;
    border-radius: 4px;
    color: #626262;
}
.main-content {
    flex-basis: 47%;
}
.imp-links {
    border-bottom: 1px solid #ccc;
}
.imp-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    color: var(--letras);
    width: fit-content;
}
.imp-links a i {
    width: 25px;
    margin-right: 15px;
    color: var(--color-iconos);
}
.sidebar-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
    color: var(--letras);
}
.right-sidebar h4 {
    font-weight: 600;
    font-size: 16px;
}
.sidebar-title a{
    text-decoration: none;
    color: #B0FE76;
    font-size: 12px;
}
.event {
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}
.left-event {
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: var(--event-day);
    color: var(--letras);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.right-event {
    color: var(--letras);
}
.event p {
    font-size: 12px;
}
.event a {
    font-size: 12px;
    text-decoration: none;
    color: #B0FE76;
}
.left-event span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #B0FE76;
    color: #000;
    font-size: 10px;
    padding: 4px 0;
}
.advertisement {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
    margin-top: 20px;
    color: var(--letras);
}
.advertisement a{
    text-decoration: none;
    color: #B0FE76;
    font-size: 12px;
}
.sidebar-ads {
    width: 100%;
    margin-bottom: 2px;
    border-radius: 4px;
}
.linea {
    border-bottom: 1px solid #ccc;
}
.friends {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 18px;
    color: var(--letras);
}
.friends a{
    text-decoration: none;
    color: #B0FE76;
    font-size: 12px;
}
.friends h4 {
    display: flex;
    align-items: center;
    margin: 0;
}
.friends h4 i {
    width: 25px;
    margin-right: 15px;
    color: var(--color-iconos);
}
.friends p {
    margin: 0;
    font-size: 16px;
}
.amigos-list {
    flex-grow: 1;
    overflow-y: auto;
    max-height: calc(100vh - 120px);
}
.amigos {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    transition: background-color 0.2s;
    cursor: pointer;
}
.amigos img {
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;
}
.amigos a{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}
.amigos p {
    color: var(--letras);
}
.amigos i {
    color: var(--color-iconos);
}
.amigos:hover {
    background-color: var(--color-iconos);
}
.amigos:hover p {
    color: var(--bg-color);
}
.amigos:hover i {
    color: var(--bg-color);
}
.user-perfil {
    display: flex;
    align-items: center;
}
.user-perfil .profile-pic-container {
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid var(--circulo-perfil);
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.user-perfil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 50%; */
    margin-right: 10px;
}
.user-perfil p {
    margin-bottom: -1px;
    font-weight: 500;
    color: var(--letras);
}
.user-perfil small {
    font-size: 12px;
}
.user-perfil a {
    font-size: 12px;
    color: var(--color-iconos);
    text-decoration: none;
}

/*--------------POST---------------*/
.user-profile {
    display: flex;
    align-items: center;
}
.user-profile img {
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}
.user-profile p {
    margin-bottom: -1px;
    font-weight: 500;
    color: var(--letras);
}
.user-profile small {
    font-size: 12px;
}
.user-profile a {
    font-size: 12px;
    color: var(--color-iconos);
    text-decoration: none;
}
.post-container {
    width: 100%;
    background: var(--bg-color);
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
}
.user-perfil span {
    font-size: 13px;
    color: #9a9a9a;
}
.post-text {
    color: var(--letras);
    margin: 15px 0;
    font-size: 15px;
}
.post-img {
    width: 100%;
    justify-content: center;
    max-width: 800px;
    max-height: 500px;
    border-radius: 4px;
    margin-bottom: 10px;
}
.post-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.activity-icons div i {
    margin-right: 10px;
    cursor: pointer;
    transition: 0.2s ease;
    transform: scale(1);

}
.activity-icons div {
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
    color: var(--letras);

}
.icono:active {
    transform: scale(1.3);
}
.post-row a {
    color: var(--color-iconos); 
}
.footer {
    flex-shrink: 0;
    text-align: center;
    color: #9a9a9a;
    padding: 10px 0;
    border-top: 1px solid #ccc;
    width: 100%;
}
.settings-menu {
    position: absolute; 
    width: 90%;
    max-width: 350px;
    background-color: var(--bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 108%;
    right: 5%;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}
.settings-menu-height {
    max-height: 450px;
    transition: max-height 0.3s ease-in;
}

.settings-menu-inner {
    padding: 20px;
}
.settings-menu hr {
    border: 0;
    height: 1px;
    background: #9a9a9a;
    margin: 15px 0;
}
.settings-links {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 15px;
}
.settings-links i {
    color: var(--color-iconos);
}
.settings-links a {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: var(--letras);
}
#dark-btn {
    position: absolute;
    top: 17px;
    right: 20px;
    background-color: #ccc;
    width: 45px;
    border-radius: 15px;
    padding: 2px 3px;
    cursor: pointer;
    display: flex;
    transition: padding-left 0.5s, background 0.5s;
}
#dark-btn span {
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
}
#dark-btn.dark-btn-on {
    padding-left: 24px;
    background-color: #0a0a0a;
}
.notification-menu {
    display: none;
    position: absolute;
    background-color: var(--bg-color);
    color: var(--letras);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    top: 108%;
    right: 93px;
    width: 300px;
    max-height: 400px;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
}
.notification-menu.active {
    display: block;
    opacity: 1;
    transform: scaleY(1);
}
.notification-item {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease;
}
.notification-item:last-child {
    border-bottom: none;
}
.notification-item:hover {
    background-color: var(--body-color);
}
#notification-icon:hover {
    cursor: pointer;
    color: #B0FE76;
    transform: scale(1.1);
    transition: transform 0.2s ease;
}
#post-icon:hover {
    cursor: pointer;
    color: #B0FE76;
    transform: scale(1.1);
    transition: transform 0.2s ease;
}
.modalPost {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}
.modal-contentPost {
    background-color: var(--bg-color);
    color: var(--letras);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 10px;
    position: relative;
    animation: fadeIn 0.3s;
}
.modal-content h2{
    margin-bottom: 10px;
}
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}
.closePosteando {
    position: absolute;
    top: 10px;
    right: 20px;
    color: var(--letras);
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.closePosteando:hover {
    color: var(--color-iconos);
}
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
}

.custom-file-upload {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-bottom: 15px;

}
.custom-file-upload button {
    background-color: #007bff;
    color: white;
    border: none;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 54px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.custom-file-upload button:hover {
    background-color: #0056b3;
}
.requiereSubir {
    color: var(--letras);
    border-bottom: 0.2rem solid #ff0000;
    margin-bottom: 10px;
    text-align: center;
}
.modal-actions {
    display: flex;
    justify-content: right;
    gap: 15px;
}
.modal-actions button {
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
#submit-post {
    background-color: #B0FE76;
    color: #000;
}
#submit-post:hover {
    color: #000;
    background-color: #81E979;
}
.cancel-post {
    background-color: #dc3545;
    color: white;
}
.cancel-post:hover {
    background-color: #7c1620;
}
#file-name {
    margin-left: 10px;
    font-size: 14px;
    color: var(--letras);
}
.idiomaBoton {
    color: var(--color-iconos);
    cursor: pointer;
}
.group-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.group-list a {
    text-decoration: none;
}
.group {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--background-group);
    transition: background-color 0.2s;
    cursor: pointer;
}
.group img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid var(--border-color);
}
.group p {
    margin: 0;
    font-size: 16px;
    color: var(--letras);
}
.group:hover {
    background-color: var(--color-iconos);
}
.group:hover p {
    color: var(--bg-color);
}
.modalIdioma {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 250px;
}
.modal-content {
    background-color: var(--bg-color);
    color: var(--letras);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    text-align: center;
}
.close {
    color: var(--color-iconos);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}
.modal-content button {
    background-color: var(--color3);
    border: none;
    color: var(--color1);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.modal-content button:hover {
    color: var(--color1);
    background-color: var(--color6);
    transform: scale(1.05);
}


/* --------------------PERFIL--------------------*/

.profile-header {
    display: flex;
    align-items: center;
    padding: 40px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    position: relative;
    height: 300px;
}
.profile-picture {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid var(--circulo-perfil);
}
.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.profile-info {
    flex: 1;
    margin-left: 30px;
    z-index: 1;
    animation: slideIn 1.5s ease;
}
.profile-info h1{
    font-size: 2.5rem;
    color: var(--letras);   
}
.profile-info h3{
    color: var(--letras); 
}
.profile-info h4{
    color: var(--letras); 
}
.profile-info p {
    color: var(--letras);
}
.user-bio {
    color: var(--letras);
    margin: 10px 0;
}
.edit-profile-btn {
    padding: 10px 20px;
    background-color: #1e1e1e;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.edit-profile-btn:hover {
    color: #000;
    background-color: var(--color3);
}
.tabs {
    display: flex;
    justify-content: space-around;
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 8px;
    margin: 20px 0;
}
.tab-button {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1rem;
    transition: background-color 0.3s;
}
.tab-button.active {
    background-color: #333;
    border-radius: 5px;
}
.tab-button:hover {
    background-color: #555;
}
.tab-content {
    display: none;
    background: var(--body-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.tab-content.active {
    display: block;
}
.contenedor-post{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}
.left-relleno-post {
    flex-basis: 25%;
}
.columna-post {
    flex-basis: 50%;
}
.right-relleno-post {
    flex-basis: 25%;
}
.profile-header {
    animation: fadeIn 1.5s ease;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes slideIn {
    from {
        transform: translateX(50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


/*--------MODAL-PARA-EDITAR-EL-PERFIL--------*/
.modalEditarPerfil {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-contentEditarPerfil {
    background-color: var(--bg-color);
    color: var(--letras);
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    max-width: 600px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-contentEditarPerfil h2 {
    margin-top: 0;
}
.closeEditarPerfil {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.closeEditarPerfil:hover,
.closeEditarPerfil:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#editProfileForm {
    display: flex;
    flex-direction: column;
}
#editProfileForm label {
    margin-top: 10px;
    font-weight: bold;
}
#editProfileForm input[type="text"],
#editProfileForm textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#editProfileForm input[type="file"] {
    margin-top: 10px;
}
.saveEdit-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.saveEdit-btn:hover {
    background-color: #218838;
}
.menuDots:hover {
    position: relative;
    display: inline-block;
}
.dropdown-contentDots a {
        text-decoration: none;
}
.dropdown-contentDots {
    display: none;
    position: absolute;
    background-color: var(--bg-color);
    border: 1px solid var(--color-iconos);
    border-radius: 15px;
    color: var(--letras);
    width: 86px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.show {
    display: block;
}


/* -----------COMENTARIOS------------ */
.modalComentario {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-contentComentario {
    background-color: var(--bg-color);
    color: var(--letras);
    padding: 30px;
    border-radius: 15px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2), 0px 16px 48px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.4s ease-out;
    position: relative;
}
.modal-contentComentario h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--color3);
    text-align: center;
}
.modal-contentComentario textarea {
    width: 100%;
    height: 120px;
    padding: 15px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 10px;
    resize: none;
    margin-bottom: 20px;
    transition: border-color 0.3s ease-in-out;
}
.modal-contentComentario textarea:focus {
    border-color: var(--color3);
    outline: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}
.comentar-btn {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    background-color: #1e1e1e;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.comentar-btn:hover {
    background-color: var(--color3);
    transform: translateY(-2px);
}
.closeComentario {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #bbb;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease;
}
.closeComentario:hover {
    color: #ff5555;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* -----------COMPARTIR------------ */
.modalCompartir {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-contentCompartir {
    background-color: var(--bg-color);
    color: var(--letras);
    padding: 30px;
    border-radius: 15px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2), 0px 16px 48px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.4s ease-out;
    position: relative;
}
.modal-contentCompartir h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--color-iconos);
}
.modal-contentCompartir input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    transition: border-color 0.3s ease-in-out;
}
.modal-contentCompartir input:focus {
    border-color: var(--color3);
    outline: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}
.compartir-btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    background-color: #1e1e1e;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.compartir-btn:hover {
    color: var(--bg-color);
    background-color: var(--color-iconos);
    transform: translateY(-2px);
}
.closeCompartir {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #bbb;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease;
}
.closeCompartir:hover {
    color: #ff5555;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


/*------------------CHAT------------------*/
.chat-container {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0%;
    right: 5.5%;
    transition: height 0.3s ease;
}
.minimized {
    height: 60px;
}
.chat-header {
    background-color: var(--color-iconos);
    color: var(--body-color);
    padding: 10px;
    text-align: center;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 15px 15px 0 0;
}
.username {
    font-size: 1rem;
    margin-left: auto;
}
.chat-messages {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #f4f4f4;
    display: none;
}
.chat-messages .message {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    width: fit-content;
    max-width: 80%;
}
.message.user {
    background-color: #e0e0e0;
    color: #333;
    align-self: flex-end;
}
.chat-input {
    padding: 20px;
    background-color: #e9e9e9;
    display: none;
    align-items: center;
    border-top: 1px solid #e0e0e0;
}
#message-input {
    flex-grow: 1;
    border: none;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000;
    margin-right: 10px;
    font-size: 1rem;
}
#message-input:focus {
    outline: none;
}
#send-btn {
    background-color: var(--color-iconos);
    color: var(--body-color);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
}
#send-btn:active {
    color: var(--color-iconos);
    background-color: var(--bg-color);
}


/*-------------CLICK-DERECHO-------------*/
#context-menu {
    display: none;
    position: absolute;
    background-color: var(--bg-color);
    border: 1px solid var(--color-iconos);
    color: var(--color-iconos);
    border-radius: 15px;
    padding: 10px;
    z-index: 1000;
}
#context-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#context-menu ul li {
    padding: 5px 10px;
    cursor: pointer;
}
#context-menu:hover {
    color: var(--body-color);
    background-color: var(--color-iconos);  
}


/*-----------ALERTAS-EDITAR-PERFIL------------*/
.modalAlerta {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.modal-contentAlerta {
    background-color: var(--bg-color);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 400px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease;
}
.modal-contentAlerta h2 {
    color: var(--color-iconos);
    margin-bottom: 10px;
}
.modal-contentAlerta p {
    color: var(--letras);
    margin-bottom: 20px;
}
.modal-contentAlerta .button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: var(--bg-color);
    background-color: var(--color-iconos);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.modal-contentAlerta .button:hover {
    color: var(--letras);
    background-color: var(--alrevez);
}